<div class="body-content">
    <h3>Sontanagram Top Page</h3>
    <table class="body-table">
        <tr>
            <td style="width:320px">
                <img src="/assets/top01.jpg">
                <img src="/assets/top02.jpg">
            </td>
            <td style="width:320px; text-align:center">
                <h3>Welcome to Thai SNS</h3>
                <p>「なんかこういうのをかっこよく見せるためには、こ洒落た写真を使うのがいいよね」</p>
                <p>つうことで、友人のやっているタイ料理店『ソンタナ』の料理なんかを撮影</p>
            </td>
        </tr>
    </table>
</div>